/*For all keyword text*/
i {
  color: #64ffda;
}
/*Navbar styling*/
.navbar {
  position: fixed;
  transition: all 0.3s ease-out 0s;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/*When screen size shrinks make font bigger/background visible, disable hover line*/
@media (max-width: 767px) {
  .navbar {
    padding: 2rem 2rem;
    font-size: 1.4rem;
    background-color: #181a27;
  }
  .navbar-nav .nav-item a::after {
    display: none;
  }
}

/*Scrolling feature colors*/
.nav-blacked {
  background-color: #1b1a2ea9;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: whitesmoke !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

/*Color and font of the logo*/
.navbar-brand {
  color: whitesmoke;
  font-size: 1.7rem;
}

/*Logo hover color: */
.navbar-brand:hover {
  color: whitesmoke;
}

/*Color of each nav item*/
.navbar-nav .nav-link {
  color: whitesmoke;
}

/*Aesthestics each item*/
.nav-link {
  font-weight: 200;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

/*Line drawn from hover left to right, taken from css animations*/
.nav-link::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: whitesmoke;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

/*Line drawn from hover left to right, taken from css animations*/
.nav-link:hover::after {
  width: 100%;
}

/*button transistions*/
.fork-btn-inner {
  position: relative;
  top: 0;
  transition: top ease 0.4s;
}

/*button transistions*/
.fork-btn-inner:hover {
  top: -5px;
}

/*button transistions*/
.fork-btn-inner:hover::after {
  width: 0%;
}

/* Homepage */
/*Home background image*/
.home-section-info {
  position: relative;
  z-index: -1;
  background-color: #233554;
  padding-bottom: 35px;
  padding-top: 35px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/*Name positioning*/
.home-header {
  padding-top: 105px;
  border-radius: 30px;
  align-self: flex-end;
  margin-bottom: 310px;
}

.home-content-info {
  padding: 3rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

/*Main tag positioning/font*/
.heading-name {
  font-size: 2.9em;
  padding-left: 35px;
}

/*Main tag positioning/font*/
.major {
  font-size: 1.3em;
  padding-left: 35px;
}

/*Main tag for styling name*/
.name {
  font-size: 10.9em;
}

/*description inside about me*/
.home-about-section {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-top: 120px;
  border-radius: 30px;
}

/*description inside about me*/
.home-about-body {
  color: white;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 1.3em;
  text-align: left;
}

/*Resume*/
.resume-section {
  position: relative;
  background-color: #233554;
  background-position: top center;
  background-repeat: repeat;
  padding-bottom: 60px;
  padding-top: 100px;
  color: whitesmoke;
}

.resume-pdf {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px;
}

.resume-right {
  padding-left: 80px;
}

/*Footer*/
/*Container for footer*/
.bottom-footer {
  background-color: #233554;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/*Credits*/
.built-credits {
  text-align: center;
}

/*Credits*/
.built-credits h3 {
  font-size: 1.1em;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*icon body*/
.footer-icons-body {
  z-index: 1;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-icons-body {
    z-index: 1;
    text-align: center;
  }
}
.footer-icons {
  color: whitesmoke;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0;
}

.icons {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 30px;
}

/*Scroll bar styling*/
.simplebar-scrollbar::before {
  background-color: whitesmoke;
  overflow: auto;
  opacity: 0.7;
}

/*About section*/
.about-me-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
  background-color: #233554;
  background-position: top center;
  background-repeat: repeat;
  color: whitesmoke;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.about-me-title {
  font-size: 2.1em;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: whitesmoke;
}

.about-me-blurb {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.about-body {
  color: whitesmoke;
  padding-bottom: 20px;
  font-size: 1.3em;
  text-align: left;
}

/*title of skillset*/
.skillset {
  color: whitesmoke;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 50px;
}

.name-tech {
  font-size: 0.3em;
  margin-top: -10px;
  margin-bottom: -15px;
}

/*Tech icons*/
.tech-stack {
  font-size: 3.9em;
  margin: 15px;
  border: 1.9px solid whitesmoke;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 25px;
  opacity: 0.93;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 2px 3px 1px #64ffda;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

@media (max-width: 767px) {
  .tech-stack {
    margin: 10px;
  }
}

/*App project section*/
.app-project-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
  background-color: #233554;
  background-position: top center;
  background-repeat: repeat;
  color: whitesmoke;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.project-card {
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #64ffda;
  color: whitesmoke;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  height: 100%;
}

/*Misc section*/
.misc-section {
  display: flex;
  position: relative;
  padding-top: 110px;
  padding-bottom: 200px;
  background-image: url(./Images/fancy-pants.jpg);
  background-position: top center;
  background-repeat: repeat;
  color: whitesmoke;
}
